.clock {
    position: absolute;
    top: 66%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #ffffff;
    font-size: 20px;
    font-family: Orbitron;
    letter-spacing: 7px;
}

@media (max-width: 900px) {
    .clock {
            opacity: 0;
        }
}